altair==5.5.0
attrs==24.3.0
blinker==1.9.0
Bottleneck 
cachetools==5.5.0
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
et_xmlfile 
gitdb==4.0.12
GitPython==3.1.44
idna==3.10
Jinja2==3.1.5
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
mkl-service
mkl_fft 
mkl_random 
narwhals
numexpr 
numpy 
openpyxl 
packaging
pandas 
pillow
protobuf==3.20.*
pyarrow
pydeck
Pygments
python-dateutil 
pytz
referencing
requests
rich
rpds-py
setuptools
six 
smmap
streamlit
tenacity
toml
tornado
typing_extensions
tzdata 
urllib3
watchdog
wheel==0.44.0